@import "variables";

button {
  background: none;
  cursor: pointer;
  border: 3px solid;
  color: #02baab;
  font-size: 12px;
  font-weight: 700;
  font-family: $Oxygen-Font;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}