.comments-section {
  position: relative;
  width: 100%;
  height: 450px;
  background-color: #02baab;
  margin-top: 100px;
  padding-top: 130px;

  blockquote {
    position: relative;
    width: 100%;

    p {
      width: 614px;
      margin-left: calc(50% - 307px);
    }
  }
}