.company-exp {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #02baab;

  h2 {
    color: #ffffff;
    margin-bottom: 50px;

    &:before {
      content: "";
      background-color: #ffffff;
    }
  }
}
