.company-exp {
  position: relative;
  width: 100%;
  min-height: 640px;
  background-color: #02baab;

  h2 {
    color: #ffffff;
    margin-bottom: 50px;

    &:before {
      content: "";
      background-color: #ffffff;
    }
  }

  ul {
    position: relative;

    li {
      margin-bottom: 120px;
    }

    &:before {
      position: absolute;
      content: url("../images/three-points-row.png");
      width: 70px;
      height: 10px;
      left: calc(50% - 35px);

      @media (min-width: 992px) {
        transform: translate(-40px) rotate(90deg);
        top: calc(50% - 70px);
      }

      @media (min-width: 1200px) {
        transform: translate(-190px) rotate(0deg);
        top: 0;
      }
    }

    &:after {
      position: absolute;
      content: url("../images/three-points-row.png");
      width: 70px;
      height: 10px;
      right: calc(50% - 35px);

      @media (min-width: 992px) {
        transform: translate(40px) rotate(-90deg);
        top: calc(50% - 70px);
      }

      @media (min-width: 1200px) {
        transform: translate(190px) rotate(0deg);
        top: 0;
      }
    }
  }
}