.container-fluid {
  margin: 0;

  &:first-child {
    background-color: black;
  }

  &:last-child {
    background-color: #868e96;
  }
}


.container {
  @media (min-width: 576px) {
    width: 500px;
  }

  @media (min-width: 768px) {
    width: 740px;
  }

  @media (min-width: 992px) {
    width: 900px;
  }

  @media (min-width: 1200px) {
    width: 1680px;
  }
}