.head {
  position: fixed;
  width: 100%;
  z-index: 2;

  .container-fluid {
    margin: 0;

    &:first-child {
      background-color: black;
    }

    &:last-child {
      background-color: #868e96;
    }
  }
}



