.head {
  position: relative;
  width: 100%;

  .container-fluid {
    margin: 0;

    &:first-child {
      background-color: black;
    }

    &:nth-child(2) {
      background-color: #868e96;
    }

    &:nth-child(3) {
      background-image: url("../images/background-image.jpg");
      max-width: 1680px;
      height: 300px;
    }
  }
}



