@import "variables";

.main-blog {
  position: relative;
  width: 100%;
  padding: 50px 0 100px;

  h3 {
    color: #474e52;
    font-family: $Oxygen-Font;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
  }

  p {
    margin-top: 0;
    color: #474e52;
    font-size: 14px;
    margin-bottom: 49px;
  }

  blockquote {
    margin: 40px 0 30px 40px;
    padding-left: 20px;
    border-left: 5px solid #eeeeee;

    p {
      color: #c69c6d;
      font-family: $Lato-Font;
      font-size: 24px;
      font-weight: 300;
      line-height: 36px;
      margin: 0;
    }

    cite {
      color: #c69c6d;
      font-family: $Lato-Font;
      font-style: italic;
      line-height: 30px;
      font-size: 14px;
      font-weight: 300;
    }
  }
}

.blog-img {
  position: relative;
  max-width: 690px;
  height: auto;
  margin-bottom: 49px;

  img {
    width: 100%;
    height: auto;
  }
}

.illustration li {
  margin-bottom: 39px;
  margin-right: 29px;
}

.main-area-bottom-border {
  border-bottom: 1px solid gray;
}