.nav-bar-comp {

  form {
    width: 210px;
    margin: 8px 0 12px;
    border: 1px solid rgba(133, 147, 159, 0.5);
  }

  .form-control {
    height: 28px;
    background: none;
    border: none;
  }

  .btn {
    background: none;
    height: 28px;
    cursor: pointer;
  }

  .authorization-btn {
    display: flex;
    align-items: center;

    @media (min-width: 576px) {
      justify-content: flex-end;
    }

    button {
      background: none;
      border: none;
      color: #85939f;
      cursor: pointer;

      @media (max-width: 568px) {
        margin-bottom: 18px;
      }

      &:not(:first-child) {
        margin-left: 35px;
      }

      &[name="login"]:before {
        content: url("../images/login.png");
        margin-right: 4px;
      }

      &[name="register"]:before {
        content: url("../images/registr.png");
        margin-right: 4px;
      }
    }
  }

  .navbar {
    padding: 0;
  }

  .navbar-collapse {
    position: relative;
  }

  .navbar-nav {

    width: 100%;
    height: 100%;

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-basis: 14.3%;
    }
  }

  .yellow:hover {
    background-color: #ffae00;
  }

  .orange:hover {
    background-color: #fc7100;
  }

  .crimson:hover {
    background-color: #e51c5e;
  }

  .violet:hover {
    background-color: #ae0f8d;
  }

  .purple:hover {
    background-color: #6d0fae;
  }

  .midnight:hover {
    background-color: #33227a;
  }

  .blue:hover {
    background-color: #0c8fcc;
  }
}