@import "variables";

.works {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #0c8fcc;
  padding-bottom: 100px;

  header {

    h2 {
      color: #ffffff;

      &:before {
        content: "";
        background-color: #ffffff;
      }
    }

    p {
      color: #ffffff;
    }
  }

  ul {
    margin-top: 46px;

    li {
      position: relative;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 50px;
      width: 290px;
      height: 290px;
    }

    .inner-links {
      position: absolute;
      width: 40px;
      height: 140px;
      left: calc(50% - 20px);
      top: 75px;
      display: none;

      img {
        margin-bottom: 5px;
      }
    }

    .item-list {
      position: relative;
      box-sizing: border-box;


      &:hover {

        p {
          opacity: 0;
          transition: 0.5s;
          cursor: default;
        }
      }

      &:hover .inner-links {
        display: block;
      }
    }

    .list-inner {
      padding: 0 20px;
      position: absolute;
      bottom: 0;
      width: 290px;

      img {
        position: absolute;
        right: 20px;
        top: 4px;
      }

      span {
        position: absolute;
        right: 20px;

      }

      p {
        margin-top: 0;

        &:first-child {
          color: #ffffff;
          font-family: $Oxygen-Font;
          font-size: 14px;
          font-weight: 300;
          line-height: 24px;
        }

        &:last-child {
          color: #02baab;
          font-family: $Oxygen-Font;
          font-size: 11px;
          font-weight: 300;
          line-height: 20px;
        }
      }
    }
  }
}