/* line 1, ../sass/ad-section.scss */
.ad-section {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 0;
  background-color: #02baab;
}
/* line 8, ../sass/ad-section.scss */
.ad-section p {
  margin: 0 0 20px;
  height: 25px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
}
@media (min-width: 768px) {
  /* line 8, ../sass/ad-section.scss */
  .ad-section p {
    text-align: center;
  }
}
/* line 21, ../sass/ad-section.scss */
.ad-section button {
  width: 170px;
  height: 40px;
  border-color: #ffffff;
  color: #ffffff;
}
/* line 28, ../sass/ad-section.scss */
.ad-section .button-move {
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 576px) {
  /* line 28, ../sass/ad-section.scss */
  .ad-section .button-move {
    justify-content: center;
  }
}
