/* line 1, ../sass/blog-posts-section.scss */
.blog-posts-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
/* line 6, ../sass/blog-posts-section.scss */
.blog-posts-section h2 {
  margin-bottom: 69px;
  font-size: 36px;
  font-weight: 300;
  line-height: 20px;
}
/* line 12, ../sass/blog-posts-section.scss */
.blog-posts-section h2:before {
  content: "";
  background-color: #eeeeee;
}
/* line 20, ../sass/blog-posts-section.scss */
.blog-posts-section ul li {
  border-bottom: 1px solid #c3c3c3;
  padding-bottom: 30px;
}
/* line 25, ../sass/blog-posts-section.scss */
.blog-posts-section ul h3 {
  width: 240px;
  margin-top: 30px;
  color: #02baab;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}
/* line 34, ../sass/blog-posts-section.scss */
.blog-posts-section ul p {
  width: 287px;
  margin-top: 28px;
}
