/* line 3, ../sass/blog-post.scss */
.blog-post {
  margin-top: 100px;
}
/* line 6, ../sass/blog-post.scss */
.blog-post-item {
  border-bottom: 1px solid #c3c3c3;
  margin-bottom: 50px;
}
/* line 10, ../sass/blog-post.scss */
.blog-post-item h3 {
  width: 287px;
  margin-top: 30px;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  font-family: "Oxygen", "Helvetica", "Verdana", "Arial", sans-serif;
}
/* line 19, ../sass/blog-post.scss */
.blog-post-item a {
  text-decoration: none;
  color: #02baab;
}
/* line 23, ../sass/blog-post.scss */
.blog-post-item a:hover {
  color: #6d0fae;
}
/* line 28, ../sass/blog-post.scss */
.blog-post-item p {
  width: 287px;
  margin-top: 28px;
}
/* line 33, ../sass/blog-post.scss */
.blog-post-item span {
  margin-left: 130px;
}
