/* line 1, ../sass/blog-posts-section.scss */
.blog-posts-section {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 100px;
}
/* line 7, ../sass/blog-posts-section.scss */
.blog-posts-section h2 {
  margin-bottom: 69px;
  font-size: 36px;
  font-weight: 300;
  line-height: 20px;
}
/* line 13, ../sass/blog-posts-section.scss */
.blog-posts-section h2:before {
  content: "";
  background-color: #eeeeee;
}
