/* line 3, ../sass/comments-list.scss */
.comments-list {
  position: relative;
  margin-top: 52px;
}
/* line 7, ../sass/comments-list.scss */
.comments-list li {
  position: relative;
  height: 180px;
  margin-top: 30px;
  background-color: #ffffff;
  border: 5px solid transparent;
  padding: 20px;
  overflow: hidden;
}
/* line 16, ../sass/comments-list.scss */
.comments-list li:hover {
  border-color: #dee7ed;
}
/* line 20, ../sass/comments-list.scss */
.comments-list li a {
  text-decoration: none;
  color: #02baab;
  font-weight: 700;
  line-height: 24px;
  font-family: "Oxygen", "Helvetica", "Verdana", "Arial", sans-serif;
  font-size: 14px;
}
/* line 29, ../sass/comments-list.scss */
.comments-list li p {
  color: #3b4954;
  font-family: "Oxygen", "Helvetica", "Verdana", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}
/* line 38, ../sass/comments-list.scss */
.comments-list .time {
  margin: 0;
  color: #85939f;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  font-family: "Oxygen", "Helvetica", "Verdana", "Arial", sans-serif;
}

/* line 48, ../sass/comments-list.scss */
.upper-comment-item {
  width: 100%;
}

/* line 52, ../sass/comments-list.scss */
.lower-comment-item {
  width: 95%;
  left: 5%;
}

/* line 57, ../sass/comments-list.scss */
.middle-border {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(133, 147, 159, 0.5);
}
