/* line 1, ../sass/company-exp-section.scss */
.company-exp {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #02baab;
}
/* line 7, ../sass/company-exp-section.scss */
.company-exp h2 {
  color: #ffffff;
  margin-bottom: 50px;
}
/* line 11, ../sass/company-exp-section.scss */
.company-exp h2:before {
  content: "";
  background-color: #ffffff;
}
