/* line 1, ../sass/containers.scss */
.container-fluid {
  margin: 0;
}
/* line 4, ../sass/containers.scss */
.container-fluid:first-child {
  background-color: black;
}
/* line 8, ../sass/containers.scss */
.container-fluid:last-child {
  background-color: #868e96;
}

@media (min-width: 576px) {
  /* line 14, ../sass/containers.scss */
  .container {
    width: 500px;
  }
}
@media (min-width: 768px) {
  /* line 14, ../sass/containers.scss */
  .container {
    width: 740px;
  }
}
@media (min-width: 992px) {
  /* line 14, ../sass/containers.scss */
  .container {
    width: 900px;
  }
}
@media (min-width: 1200px) {
  /* line 14, ../sass/containers.scss */
  .container {
    width: 1680px;
  }
}
