/* line 3, ../sass/features.scss */
.features {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}
/* line 9, ../sass/features.scss */
.features h2 {
  margin-bottom: 55px;
}
/* line 12, ../sass/features.scss */
.features h2:before {
  content: "";
  background-color: #eeeeee;
}
/* line 18, ../sass/features.scss */
.features h3 {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: #000000;
  font-family: "Oxygen", "Helvetica", "Verdana", "Arial", sans-serif;
  padding-left: 30px;
}
/* line 29, ../sass/features.scss */
.features ul li {
  position: relative;
  margin-bottom: 70px;
  box-sizing: border-box;
}
@media (min-width: 992px) {
  /* line 35, ../sass/features.scss */
  .features ul li:nth-child(odd) {
    padding-left: 50px;
  }
  /* line 38, ../sass/features.scss */
  .features ul li:nth-child(even) {
    padding-left: 120px;
  }
}
@media (min-width: 768px) {
  /* line 44, ../sass/features.scss */
  .features ul li:nth-child(even) {
    padding-left: 80px;
  }
}
/* line 49, ../sass/features.scss */
.features ul li p {
  margin-top: 13px;
  width: 300px;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  font-family: "Oxygen", "Helvetica", "Verdana", "Arial", sans-serif;
  padding-left: 30px;
}
/* line 60, ../sass/features.scss */
.features ul .star:before {
  position: absolute;
  content: url("../images/star-icon.png");
  width: 39px;
  height: 39px;
  top: 0;
  left: -15px;
}
/* line 69, ../sass/features.scss */
.features ul .challece:before {
  position: absolute;
  content: url("../images/challece-icon.png");
  width: 36px;
  height: 33px;
  top: 0;
  left: -15px;
}
@media (min-width: 768px) {
  /* line 69, ../sass/features.scss */
  .features ul .challece:before {
    left: 30px;
  }
}
/* line 82, ../sass/features.scss */
.features ul .pan:before {
  position: absolute;
  content: url("../images/pan-icon.png");
  width: 33px;
  height: 33px;
  top: 0;
  left: -10px;
}
/* line 91, ../sass/features.scss */
.features ul .cloud:before {
  position: absolute;
  content: url("../images/cloud-icon.png");
  width: 41px;
  height: 26px;
  top: 0;
  left: -20px;
}
@media (min-width: 768px) {
  /* line 91, ../sass/features.scss */
  .features ul .cloud:before {
    left: 30px;
  }
}
