/* line 1, ../sass/header.scss */
.head {
  position: relative;
  width: 100%;
}
/* line 5, ../sass/header.scss */
.head .container-fluid {
  margin: 0;
}
/* line 8, ../sass/header.scss */
.head .container-fluid:first-child {
  background-color: black;
}
/* line 12, ../sass/header.scss */
.head .container-fluid:nth-child(2) {
  background-color: #868e96;
}
/* line 16, ../sass/header.scss */
.head .container-fluid:nth-child(3) {
  background-image: url("../images/background-image.jpg");
  max-width: 1680px;
  height: 300px;
}
