/* line 1, ../sass/header.scss */
.head {
  position: relative;
  width: 100%;
}
/* line 5, ../sass/header.scss */
.head .container-fluid {
  margin: 0;
}
/* line 8, ../sass/header.scss */
.head .container-fluid:first-child {
  position: relative;
  background-color: black;
}
/* line 13, ../sass/header.scss */
.head .container-fluid:nth-child(2) {
  position: relative;
  background-color: #868e96;
}
/* line 18, ../sass/header.scss */
.head .container-fluid:nth-child(3) {
  position: relative;
  background: url("../images/background-image.jpg") 100% 100% no-repeat;
  background-size: cover;
  height: 300px;
}
