/* line 3, ../sass/main-blog.scss */
.main-blog {
  position: relative;
  width: 100%;
  padding: 50px 0 100px;
}
/* line 8, ../sass/main-blog.scss */
.main-blog h3 {
  color: #474e52;
  font-family: "Oxygen", "Helvetica", "Verdana", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
/* line 16, ../sass/main-blog.scss */
.main-blog p {
  margin-top: 0;
  color: #474e52;
  font-size: 14px;
  margin-bottom: 49px;
}
/* line 23, ../sass/main-blog.scss */
.main-blog blockquote {
  margin: 40px 0 30px 40px;
  padding-left: 20px;
  border-left: 5px solid #eeeeee;
}
/* line 28, ../sass/main-blog.scss */
.main-blog blockquote p {
  color: #c69c6d;
  font-family: "Lato", "Arial", "Helvetica", "Verdana", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  margin: 0;
}
/* line 37, ../sass/main-blog.scss */
.main-blog blockquote cite {
  color: #c69c6d;
  font-family: "Lato", "Arial", "Helvetica", "Verdana", sans-serif;
  font-style: italic;
  line-height: 30px;
  font-size: 14px;
  font-weight: 300;
}

/* line 48, ../sass/main-blog.scss */
.blog-img {
  position: relative;
  max-width: 690px;
  height: auto;
  margin-bottom: 49px;
}
/* line 54, ../sass/main-blog.scss */
.blog-img img {
  width: 100%;
  height: auto;
}

/* line 62, ../sass/main-blog.scss */
.illustration li {
  margin-bottom: 39px;
  margin-right: 29px;
}

/* line 68, ../sass/main-blog.scss */
.main-area-bottom-border {
  border-bottom: 1px solid gray;
}

/* line 74, ../sass/main-blog.scss */
aside li {
  position: relative;
  font-family: "Oxygen", "Helvetica", "Verdana", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 40px;
  border-bottom: 1px solid rgba(219, 222, 223, 0.5);
  padding-left: 20px;
}

/* line 85, ../sass/main-blog.scss */
.blog-categories {
  position: relative;
  margin-bottom: 43px;
}
/* line 89, ../sass/main-blog.scss */
.blog-categories a {
  color: #02baab;
}
/* line 92, ../sass/main-blog.scss */
.blog-categories a:hover {
  color: #6d0fae;
}
/* line 99, ../sass/main-blog.scss */
.blog-categories li:before {
  position: absolute;
  content: '\f097';
  font-family: FontAwesome;
  left: 0;
  transform: rotate(-90deg);
  color: #c3c3c3;
}

/* line 112, ../sass/main-blog.scss */
.recent-comments li {
  line-height: 25px;
}
/* line 115, ../sass/main-blog.scss */
.recent-comments li:before {
  position: absolute;
  content: '\f10d';
  font-family: FontAwesome;
  left: 0;
  top: 0;
  color: #c3c3c3;
}
/* line 125, ../sass/main-blog.scss */
.recent-comments p {
  margin: 0;
}
/* line 129, ../sass/main-blog.scss */
.recent-comments a {
  color: #02baab;
}
/* line 132, ../sass/main-blog.scss */
.recent-comments a:hover {
  color: #6d0fae;
}
