/* line 3, ../sass/main-blog.scss */
.main-blog {
  position: relative;
  width: 100%;
  padding: 50px 0 100px;
}
/* line 8, ../sass/main-blog.scss */
.main-blog h3 {
  color: #474e52;
  font-family: "Oxygen", "Helvetica", "Verdana", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
/* line 16, ../sass/main-blog.scss */
.main-blog p {
  margin-top: 0;
  color: #474e52;
  font-size: 14px;
  margin-bottom: 49px;
}
/* line 23, ../sass/main-blog.scss */
.main-blog blockquote {
  margin: 40px 0 30px 40px;
  padding-left: 20px;
  border-left: 5px solid #eeeeee;
}
/* line 28, ../sass/main-blog.scss */
.main-blog blockquote p {
  color: #c69c6d;
  font-family: "Lato", "Arial", "Helvetica", "Verdana", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  margin: 0;
}
/* line 37, ../sass/main-blog.scss */
.main-blog blockquote cite {
  color: #c69c6d;
  font-family: "Lato", "Arial", "Helvetica", "Verdana", sans-serif;
  font-style: italic;
  line-height: 30px;
  font-size: 14px;
  font-weight: 300;
}

/* line 48, ../sass/main-blog.scss */
.blog-img {
  position: relative;
  max-width: 690px;
  height: auto;
  margin-bottom: 49px;
}
/* line 54, ../sass/main-blog.scss */
.blog-img img {
  width: 100%;
  height: auto;
}

/* line 60, ../sass/main-blog.scss */
.illustration li {
  margin-bottom: 39px;
  margin-right: 29px;
}

/* line 65, ../sass/main-blog.scss */
.main-area-bottom-border {
  border-bottom: 1px solid gray;
}
