/* line 1, ../sass/month-steal.scss */
.month-steal {
  position: relative;
  width: 100%;
  min-height: 450px;
}
/* line 6, ../sass/month-steal.scss */
.month-steal h2:before {
  content: "";
  background-color: #eeeeee;
}
/* line 11, ../sass/month-steal.scss */
.month-steal button {
  margin-top: 46px;
}
