@import url(https://fonts.googleapis.com/css?family=Lato:700);
/* line 3, ../sass/progress-bar.scss */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* line 9, ../sass/progress-bar.scss */
.set-size {
  font-size: 10em;
}

/* line 13, ../sass/progress-bar.scss */
.charts-container:after {
  clear: both;
  content: "";
  display: table;
}

/* line 19, ../sass/progress-bar.scss */
.pie-wrapper {
  height: 210px;
  width: 210px;
  float: left;
  margin: 15px;
  position: relative;
}

/* line 27, ../sass/progress-bar.scss */
.pie-wrapper:nth-child(3n+1) {
  clear: both;
}

/* line 31, ../sass/progress-bar.scss */
.pie-wrapper .pie {
  height: 100%;
  width: 100%;
  clip: rect(0, 1em, 1em, 0.5em);
  left: 0;
  position: absolute;
  top: 0;
}

/* line 40, ../sass/progress-bar.scss */
.pie-wrapper .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 5px solid #3498db;
  border-radius: 50%;
  clip: rect(0, 0.5em, 1em, 0);
  left: 0;
  position: absolute;
  top: 0;
}

/* line 51, ../sass/progress-bar.scss */
.pie-wrapper .label {
  background-color: #02baab;
  border-radius: 50%;
  bottom: 0.4em;
  color: #ecf0f1;
  cursor: default;
  display: block;
  font-size: 0.25em;
  left: 0.4em;
  line-height: 2.6em;
  position: absolute;
  right: 0.4em;
  text-align: center;
  top: 0.4em;
}

/* line 67, ../sass/progress-bar.scss */
.pie-wrapper .label .smaller {
  color: #bdc3c7;
  font-size: .45em;
  padding-bottom: 20px;
  vertical-align: super;
}

/* line 74, ../sass/progress-bar.scss */
.pie-wrapper .shadow {
  height: 100%;
  width: 100%;
  border: 5px solid rgba(67, 116, 105, 0.42);
  border-radius: 50%;
}

/* line 81, ../sass/progress-bar.scss */
.big-num {
  margin-top: 30px;
  color: #ffffff;
  font-weight: 300;
  line-height: 24px;
  font-size: 48px;
}

/* line 89, ../sass/progress-bar.scss */
.description {
  margin-top: 15px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}

/* line 97, ../sass/progress-bar.scss */
.pie-wrapper .style-2 .label {
  position: relative;
  background: none;
  color: #7f8c8d;
}

/* line 103, ../sass/progress-bar.scss */
.label {
  position: relative;
}
/* line 106, ../sass/progress-bar.scss */
.label img {
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
}
/* line 112, ../sass/progress-bar.scss */
.label.gears:before {
  position: absolute;
  content: url("../images/gears.png");
  width: 60px;
  height: 56px;
  z-index: 1;
  left: calc(50% - 32px);
  top: calc(50% - 34px);
}
/* line 122, ../sass/progress-bar.scss */
.label.phone:before {
  position: absolute;
  content: url("../images/phone.png");
  width: 60px;
  height: 56px;
  z-index: 1;
  left: calc(50% - 30px);
  top: calc(50% - 37px);
}
/* line 132, ../sass/progress-bar.scss */
.label.rocket:before {
  position: absolute;
  content: url("../images/rocket.png");
  width: 60px;
  height: 56px;
  z-index: 1;
  left: calc(50% - 33px);
  top: calc(50% - 34px);
}

/* line 143, ../sass/progress-bar.scss */
.pie-wrapper.progress-95 .pie {
  clip: rect(auto, auto, auto, auto);
}

/* line 147, ../sass/progress-bar.scss */
.pie-wrapper.progress-95 .pie .right-side {
  transform: rotate(350deg);
}

/* line 151, ../sass/progress-bar.scss */
.pie-wrapper.progress-95 .pie .half-circle {
  border-color: #ffffff;
}

/* line 155, ../sass/progress-bar.scss */
.pie-wrapper.progress-95 .pie .left-side {
  transform: rotate(180deg);
}
