/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/header.scss */
.head {
  position: fixed;
  width: 100%;
  z-index: 1;
}
/* line 6, ../sass/header.scss */
.head .container-fluid {
  margin: 0;
}
/* line 9, ../sass/header.scss */
.head .container-fluid:first-child {
  background-color: black;
}
/* line 13, ../sass/header.scss */
.head .container-fluid:last-child {
  background-color: #868e96;
}

/* line 1, ../sass/welcome-section.scss */
.welcome-section {
  width: 100%;
  min-height: 100vh;
  background-color: #cacaca;
  padding-top: 110px;
}

/* line 1, ../sass/works.scss */
.works {
  width: 100%;
  min-height: 100vh;
  background-color: #0c8fcc;
}
/* line 8, ../sass/works.scss */
.works header h2 {
  color: #ffffff;
}
/* line 11, ../sass/works.scss */
.works header h2:before {
  content: "";
  background-color: #ffffff;
}
/* line 17, ../sass/works.scss */
.works header p {
  color: #ffffff;
}
/* line 22, ../sass/works.scss */
.works ul {
  margin-top: 46px;
}
/* line 25, ../sass/works.scss */
.works ul li {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
/* line 33, ../sass/works.scss */
.works ul div {
  position: relative;
  box-sizing: border-box;
}
/* line 38, ../sass/works.scss */
.works ul div:hover p {
  opacity: 0;
  transition: 0.5s;
  cursor: default;
}
/* line 44, ../sass/works.scss */
.works ul div:hover:before {
  position: absolute;
  width: 40px;
  height: 140px;
  content: url("../images/ellipse.png");
  top: calc(50% - 70px);
  left: calc(50% - 20px);
}
/* line 53, ../sass/works.scss */
.works ul div p {
  position: absolute;
  bottom: 0;
  left: 20px;
}

/* line 1, ../sass/month-steal.scss */
.month-steal {
  width: 100%;
  min-height: 450px;
}
/* line 5, ../sass/month-steal.scss */
.month-steal h2:before {
  content: "";
  background-color: #eeeeee;
}
/* line 10, ../sass/month-steal.scss */
.month-steal button {
  margin-top: 46px;
}

/* line 1, ../sass/containers.scss */
.container {
  position: relative;
}
@media (min-width: 576px) {
  /* line 1, ../sass/containers.scss */
  .container {
    width: 500px;
  }
}
@media (min-width: 768px) {
  /* line 1, ../sass/containers.scss */
  .container {
    width: 740px;
  }
}
@media (min-width: 992px) {
  /* line 1, ../sass/containers.scss */
  .container {
    width: 992px;
  }
}
@media (min-width: 1200px) {
  /* line 1, ../sass/containers.scss */
  .container {
    width: 1680px;
  }
}

/* line 1, ../sass/jumbotron.scss */
.jumbotron {
  background: none;
  padding-top: 0;
}
/* line 5, ../sass/jumbotron.scss */
.jumbotron .lead {
  margin: 0;
}

/* line 1, ../sass/button.scss */
button {
  background: none;
  cursor: pointer;
  border: 3px solid;
  color: #02baab;
  font-size: 12px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

/* line 3, ../sass/nav-bar.scss */
.nav-bar-comp form {
  width: 210px;
  margin: 8px 0 12px;
  border: 1px solid rgba(133, 147, 159, 0.5);
}
/* line 9, ../sass/nav-bar.scss */
.nav-bar-comp .form-control {
  height: 28px;
  background: none;
  border: none;
}
/* line 15, ../sass/nav-bar.scss */
.nav-bar-comp .btn {
  background: none;
  height: 28px;
  cursor: pointer;
}
/* line 21, ../sass/nav-bar.scss */
.nav-bar-comp .authorization-btn {
  display: flex;
  align-items: center;
}
@media (min-width: 576px) {
  /* line 21, ../sass/nav-bar.scss */
  .nav-bar-comp .authorization-btn {
    justify-content: flex-end;
  }
}
/* line 29, ../sass/nav-bar.scss */
.nav-bar-comp .authorization-btn button {
  background: none;
  border: none;
  color: #85939f;
  cursor: pointer;
}
@media (max-width: 568px) {
  /* line 29, ../sass/nav-bar.scss */
  .nav-bar-comp .authorization-btn button {
    margin-bottom: 18px;
  }
}
/* line 39, ../sass/nav-bar.scss */
.nav-bar-comp .authorization-btn button:not(:first-child) {
  margin-left: 35px;
}
/* line 43, ../sass/nav-bar.scss */
.nav-bar-comp .authorization-btn button[name="login"]:before {
  content: url("../images/login.png");
  margin-right: 4px;
}
/* line 48, ../sass/nav-bar.scss */
.nav-bar-comp .authorization-btn button[name="register"]:before {
  content: url("../images/registr.png");
  margin-right: 4px;
}
/* line 55, ../sass/nav-bar.scss */
.nav-bar-comp .navbar {
  padding: 0;
}
/* line 59, ../sass/nav-bar.scss */
.nav-bar-comp .navbar-collapse {
  position: relative;
}
/* line 63, ../sass/nav-bar.scss */
.nav-bar-comp .navbar-nav {
  width: 100%;
  height: 100%;
}
/* line 68, ../sass/nav-bar.scss */
.nav-bar-comp .navbar-nav li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 14.3%;
}
/* line 76, ../sass/nav-bar.scss */
.nav-bar-comp .yellow:hover {
  background-color: #ffae00;
}
/* line 80, ../sass/nav-bar.scss */
.nav-bar-comp .orange:hover {
  background-color: #fc7100;
}
/* line 84, ../sass/nav-bar.scss */
.nav-bar-comp .crimson:hover {
  background-color: #e51c5e;
}
/* line 88, ../sass/nav-bar.scss */
.nav-bar-comp .violet:hover {
  background-color: #ae0f8d;
}
/* line 92, ../sass/nav-bar.scss */
.nav-bar-comp .purple:hover {
  background-color: #6d0fae;
}
/* line 96, ../sass/nav-bar.scss */
.nav-bar-comp .midnight:hover {
  background-color: #33227a;
}
/* line 100, ../sass/nav-bar.scss */
.nav-bar-comp .blue:hover {
  background-color: #0c8fcc;
}

/* line 2, ../sass/section-title.scss */
body h2 {
  position: relative;
  margin-top: 100px;
  font-size: 36px;
  font-weight: 300;
  line-height: 20px;
  padding-bottom: 35px;
}
/* line 10, ../sass/section-title.scss */
body h2:before {
  position: absolute;
  content: "";
  width: 50px;
  height: 5px;
  bottom: 0;
  left: calc(50% - 25px);
}

/* line 3, ../sass/section-description.scss */
body p {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  margin-top: 51px;
}
