@import url("https://fonts.googleapis.com/css?family=Lato|Oxygen:300,400");
@import url(https://fonts.googleapis.com/css?family=Lato:700);
/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/header.scss */
.head {
  position: relative;
  width: 100%;
}
/* line 5, ../sass/header.scss */
.head .container-fluid {
  margin: 0;
}
/* line 8, ../sass/header.scss */
.head .container-fluid:first-child {
  background-color: black;
}
/* line 12, ../sass/header.scss */
.head .container-fluid:nth-child(2) {
  background-color: #868e96;
}
/* line 16, ../sass/header.scss */
.head .container-fluid:nth-child(3) {
  background-image: url("../images/background-image.jpg");
  max-width: 1680px;
  height: 300px;
}

/* line 3, ../sass/welcome-section.scss */
.welcome-section {
  position: relative;
  width: 100%;
  height: 950px;
}
/* line 8, ../sass/welcome-section.scss */
.welcome-section img {
  width: 100%;
  height: 950px;
}
/* line 13, ../sass/welcome-section.scss */
.welcome-section .carousel {
  position: absolute;
  width: 100%;
}
/* line 17, ../sass/welcome-section.scss */
.welcome-section .carousel-indicators {
  bottom: 50px;
}
/* line 20, ../sass/welcome-section.scss */
.welcome-section .carousel-indicators .active {
  background-color: #02baab;
}
/* line 26, ../sass/welcome-section.scss */
.welcome-section h1 {
  font-family: "Oxygen", "Helvetica", "Verdana", "Arial", sans-serif;
  font-size: 60px;
  font-weight: 300;
  line-height: 72px;
  color: #02baab;
}
/* line 34, ../sass/welcome-section.scss */
.welcome-section p {
  font-family: "Oxygen", "Helvetica", "Verdana", "Arial", sans-serif;
  font-size: 60px;
  font-weight: 300;
  line-height: 72px;
  color: #ffffff;
}

/* line 3, ../sass/works.scss */
.works {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #0c8fcc;
  padding-bottom: 100px;
}
/* line 12, ../sass/works.scss */
.works header h2 {
  color: #ffffff;
}
/* line 15, ../sass/works.scss */
.works header h2:before {
  content: "";
  background-color: #ffffff;
}
/* line 21, ../sass/works.scss */
.works header p {
  color: #ffffff;
}
/* line 26, ../sass/works.scss */
.works ul {
  margin-top: 46px;
}
/* line 29, ../sass/works.scss */
.works ul li {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  width: 290px;
  height: 290px;
}
/* line 39, ../sass/works.scss */
.works ul .inner-links {
  position: absolute;
  width: 40px;
  height: 140px;
  left: calc(50% - 20px);
  top: 75px;
  display: none;
}
/* line 47, ../sass/works.scss */
.works ul .inner-links img {
  margin-bottom: 5px;
}
/* line 52, ../sass/works.scss */
.works ul .item-list {
  position: relative;
  box-sizing: border-box;
}
/* line 59, ../sass/works.scss */
.works ul .item-list:hover p {
  opacity: 0;
  transition: 0.5s;
  cursor: default;
}
/* line 66, ../sass/works.scss */
.works ul .item-list:hover .inner-links {
  display: block;
}
/* line 71, ../sass/works.scss */
.works ul .list-inner {
  padding: 0 20px;
  position: absolute;
  bottom: 0;
  width: 290px;
}
/* line 77, ../sass/works.scss */
.works ul .list-inner img {
  position: absolute;
  right: 20px;
  top: 4px;
}
/* line 83, ../sass/works.scss */
.works ul .list-inner span {
  position: absolute;
  right: 20px;
}
/* line 89, ../sass/works.scss */
.works ul .list-inner p {
  margin-top: 0;
}
/* line 92, ../sass/works.scss */
.works ul .list-inner p:first-child {
  color: #ffffff;
  font-family: "Oxygen", "Helvetica", "Verdana", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
/* line 100, ../sass/works.scss */
.works ul .list-inner p:last-child {
  color: #02baab;
  font-family: "Oxygen", "Helvetica", "Verdana", "Arial", sans-serif;
  font-size: 11px;
  font-weight: 300;
  line-height: 20px;
}

/* line 1, ../sass/month-steal.scss */
.month-steal {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 100px;
}
/* line 7, ../sass/month-steal.scss */
.month-steal h2:before {
  content: "";
  background-color: #eeeeee;
}
/* line 12, ../sass/month-steal.scss */
.month-steal button {
  margin-top: 46px;
}

/* line 1, ../sass/ad-section.scss */
.ad-section {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 0;
  background-color: #02baab;
}
/* line 8, ../sass/ad-section.scss */
.ad-section p {
  margin: 0 0 20px;
  height: 25px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
}
@media (min-width: 768px) {
  /* line 8, ../sass/ad-section.scss */
  .ad-section p {
    text-align: center;
  }
}
/* line 21, ../sass/ad-section.scss */
.ad-section button {
  width: 170px;
  height: 40px;
  border-color: #ffffff;
  color: #ffffff;
}
/* line 28, ../sass/ad-section.scss */
.ad-section .button-move {
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 576px) {
  /* line 28, ../sass/ad-section.scss */
  .ad-section .button-move {
    justify-content: center;
  }
}

/* line 3, ../sass/features.scss */
.features {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}
/* line 9, ../sass/features.scss */
.features h2 {
  margin-bottom: 55px;
}
/* line 12, ../sass/features.scss */
.features h2:before {
  content: "";
  background-color: #eeeeee;
}
/* line 18, ../sass/features.scss */
.features h3 {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: #000000;
  font-family: "Oxygen", "Helvetica", "Verdana", "Arial", sans-serif;
  padding-left: 30px;
}
/* line 29, ../sass/features.scss */
.features ul li {
  position: relative;
  margin-bottom: 70px;
  box-sizing: border-box;
}
@media (min-width: 992px) {
  /* line 35, ../sass/features.scss */
  .features ul li:nth-child(odd) {
    padding-left: 50px;
  }
  /* line 38, ../sass/features.scss */
  .features ul li:nth-child(even) {
    padding-left: 120px;
  }
}
@media (min-width: 768px) {
  /* line 44, ../sass/features.scss */
  .features ul li:nth-child(even) {
    padding-left: 80px;
  }
}
/* line 49, ../sass/features.scss */
.features ul li p {
  margin-top: 13px;
  width: 300px;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  font-family: "Oxygen", "Helvetica", "Verdana", "Arial", sans-serif;
  padding-left: 30px;
}
/* line 60, ../sass/features.scss */
.features ul .star:before {
  position: absolute;
  content: url("../images/star-icon.png");
  width: 39px;
  height: 39px;
  top: 0;
  left: -15px;
}
/* line 69, ../sass/features.scss */
.features ul .challece:before {
  position: absolute;
  content: url("../images/challece-icon.png");
  width: 36px;
  height: 33px;
  top: 0;
  left: -15px;
}
@media (min-width: 768px) {
  /* line 69, ../sass/features.scss */
  .features ul .challece:before {
    left: 30px;
  }
}
/* line 82, ../sass/features.scss */
.features ul .pan:before {
  position: absolute;
  content: url("../images/pan-icon.png");
  width: 33px;
  height: 33px;
  top: 0;
  left: -10px;
}
/* line 91, ../sass/features.scss */
.features ul .cloud:before {
  position: absolute;
  content: url("../images/cloud-icon.png");
  width: 41px;
  height: 26px;
  top: 0;
  left: -20px;
}
@media (min-width: 768px) {
  /* line 91, ../sass/features.scss */
  .features ul .cloud:before {
    left: 30px;
  }
}

/* line 1, ../sass/comments-section.scss */
.comments-section {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 100px;
  padding: 185px 0;
  background-color: #02554a;
}
/* line 9, ../sass/comments-section.scss */
.comments-section blockquote {
  position: relative;
  width: 100%;
}
/* line 13, ../sass/comments-section.scss */
.comments-section blockquote:before {
  position: absolute;
  content: url("../images/quotes.png");
  width: 45px;
  height: 37px;
  top: -80px;
  left: calc(50% - 22.5px);
}
/* line 22, ../sass/comments-section.scss */
.comments-section blockquote p {
  width: 614px;
  margin-left: calc(50% - 307px);
  margin-top: 0;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}
/* line 32, ../sass/comments-section.scss */
.comments-section blockquote footer p {
  margin-top: 40px;
  color: #02baab;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

/* line 1, ../sass/blog-posts-section.scss */
.blog-posts-section {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 100px;
}
/* line 7, ../sass/blog-posts-section.scss */
.blog-posts-section h2 {
  margin-bottom: 69px;
  font-size: 36px;
  font-weight: 300;
  line-height: 20px;
}
/* line 13, ../sass/blog-posts-section.scss */
.blog-posts-section h2:before {
  content: "";
  background-color: #eeeeee;
}

/* line 3, ../sass/company-exp-section.scss */
.company-exp {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 100px;
  background-color: #02baab;
}
/* line 10, ../sass/company-exp-section.scss */
.company-exp h2 {
  color: #ffffff;
  margin-bottom: 50px;
}
/* line 14, ../sass/company-exp-section.scss */
.company-exp h2:before {
  content: "";
  background-color: #ffffff;
}
/* line 20, ../sass/company-exp-section.scss */
.company-exp ul {
  position: relative;
}
/* line 23, ../sass/company-exp-section.scss */
.company-exp ul li {
  margin-bottom: 120px;
}
/* line 27, ../sass/company-exp-section.scss */
.company-exp ul:before {
  position: absolute;
  content: url("../images/three-points-row.png");
  width: 70px;
  height: 10px;
  left: calc(50% - 35px);
}
@media (min-width: 992px) {
  /* line 27, ../sass/company-exp-section.scss */
  .company-exp ul:before {
    transform: translate(-40px) rotate(90deg);
    top: calc(50% - 70px);
  }
}
@media (min-width: 1200px) {
  /* line 27, ../sass/company-exp-section.scss */
  .company-exp ul:before {
    transform: translate(-190px) rotate(0deg);
    top: 0;
  }
}
/* line 45, ../sass/company-exp-section.scss */
.company-exp ul:after {
  position: absolute;
  content: url("../images/three-points-row.png");
  width: 70px;
  height: 10px;
  right: calc(50% - 35px);
}
@media (min-width: 992px) {
  /* line 45, ../sass/company-exp-section.scss */
  .company-exp ul:after {
    transform: translate(40px) rotate(-90deg);
    top: calc(50% - 70px);
  }
}
@media (min-width: 1200px) {
  /* line 45, ../sass/company-exp-section.scss */
  .company-exp ul:after {
    transform: translate(190px) rotate(0deg);
    top: 0;
  }
}

/* line 1, ../sass/our-team-section.scss */
.our-team-section {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 100px;
}
/* line 7, ../sass/our-team-section.scss */
.our-team-section h2 {
  color: #3b4954;
  margin-bottom: 50px;
}
/* line 11, ../sass/our-team-section.scss */
.our-team-section h2:before {
  content: "";
  background-color: #eeeeee;
}
/* line 17, ../sass/our-team-section.scss */
.our-team-section li {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #eeeeee;
  margin-bottom: 40px;
}
/* line 25, ../sass/our-team-section.scss */
.our-team-section button {
  width: 136px;
  height: 40px;
  margin: 30px 0;
}
/* line 30, ../sass/our-team-section.scss */
.our-team-section button:focus {
  background-color: #02baab;
  color: #ffffff;
  border-color: #02baab;
  outline: none;
}

/* line 39, ../sass/our-team-section.scss */
.holder {
  position: relative;
  width: 210px;
  height: 280px;
}

/* line 45, ../sass/our-team-section.scss */
.hidden-block {
  position: absolute;
  background-color: white;
  left: 0;
  right: 0;
  bottom: 0;
  width: 210px;
  height: 0;
  padding: 60px 28px;
  display: none;
}
/* line 56, ../sass/our-team-section.scss */
.hidden-block p {
  text-align: center;
  margin-top: 0;
  width: 153px;
  color: #3b4954;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
}

/* line 67, ../sass/our-team-section.scss */
.holder:hover .hidden-block {
  height: 118px;
  display: block;
}

/* line 72, ../sass/our-team-section.scss */
.double-inner-block {
  position: absolute;
  top: -30px;
  left: calc(50% - 68px);
  margin: auto;
  width: 136px;
  height: 60px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
}
/* line 82, ../sass/our-team-section.scss */
.double-inner-block p {
  width: 100px;
  margin: 0 18px;
  font-weight: 400;
  line-height: 18px;
}
/* line 88, ../sass/our-team-section.scss */
.double-inner-block p:first-child {
  color: #02baab;
  font-size: 14px;
}
/* line 93, ../sass/our-team-section.scss */
.double-inner-block p:last-child {
  color: #c4c4c4;
  font-size: 12px;
}

/* line 3, ../sass/site-footer.scss */
.site-footer {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 100px;
  background-color: #1f2a32;
}
/* line 10, ../sass/site-footer.scss */
.site-footer a {
  color: #02baab;
  font-weight: 300;
}
/* line 15, ../sass/site-footer.scss */
.site-footer h3 {
  margin: 73px 0 51px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 300;
  line-height: 35px;
  font-family: "Oxygen", "Helvetica", "Verdana", "Arial", sans-serif;
}
/* line 24, ../sass/site-footer.scss */
.site-footer .follow {
  margin-top: 70px;
}
/* line 27, ../sass/site-footer.scss */
.site-footer .follow li {
  margin-bottom: 40px;
}
/* line 31, ../sass/site-footer.scss */
.site-footer .follow a {
  color: #ffffff;
  font-family: "Oxygen", "Helvetica", "Verdana", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
/* line 42, ../sass/site-footer.scss */
.site-footer ul p {
  margin-top: 0;
}
/* line 46, ../sass/site-footer.scss */
.site-footer ul li {
  position: relative;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 30px;
  width: 210px;
}
/* line 56, ../sass/site-footer.scss */
.site-footer ul .latest-tweets {
  left: 20px;
}
/* line 59, ../sass/site-footer.scss */
.site-footer ul .latest-tweets:before {
  position: absolute;
  content: url("../images/twitter.png");
  width: 15px;
  height: 14px;
  left: -20px;
  top: 0;
}
/* line 69, ../sass/site-footer.scss */
.site-footer ul .flag {
  left: 20px;
}
/* line 72, ../sass/site-footer.scss */
.site-footer ul .flag:before {
  position: absolute;
  content: url("../images/flag.png");
  width: 14px;
  height: 13px;
  left: -20px;
  top: 0;
}
/* line 82, ../sass/site-footer.scss */
.site-footer ul .call {
  left: 20px;
}
/* line 85, ../sass/site-footer.scss */
.site-footer ul .call:before {
  position: absolute;
  content: url("../images/call.png");
  width: 13px;
  height: 14px;
  left: -20px;
  top: 0;
}
/* line 95, ../sass/site-footer.scss */
.site-footer ul .mail {
  left: 20px;
}
/* line 98, ../sass/site-footer.scss */
.site-footer ul .mail:before {
  position: absolute;
  content: url("../images/mail.png");
  width: 13px;
  height: 10px;
  left: -20px;
  top: 0;
}
/* line 108, ../sass/site-footer.scss */
.site-footer ul .follow-fb {
  padding-left: 70px;
}
/* line 111, ../sass/site-footer.scss */
.site-footer ul .follow-fb:before {
  position: absolute;
  content: url("../images/follow-fb.png");
  width: 50px;
  height: 50px;
  left: 0;
  top: calc(50% - 25px);
}
/* line 121, ../sass/site-footer.scss */
.site-footer ul .follow-twitt {
  padding-left: 70px;
}
/* line 124, ../sass/site-footer.scss */
.site-footer ul .follow-twitt:before {
  position: absolute;
  content: url("../images/follow-twitt.png");
  width: 50px;
  height: 50px;
  left: 0;
  top: calc(50% - 25px);
}
/* line 134, ../sass/site-footer.scss */
.site-footer ul .follow-u2b {
  padding-left: 70px;
}
/* line 137, ../sass/site-footer.scss */
.site-footer ul .follow-u2b:before {
  position: absolute;
  content: url("../images/follow-u2b.png");
  width: 50px;
  height: 50px;
  left: 0;
  top: calc(50% - 25px);
}
/* line 147, ../sass/site-footer.scss */
.site-footer ul .follow-inst {
  padding-left: 70px;
}
/* line 150, ../sass/site-footer.scss */
.site-footer ul .follow-inst:before {
  position: absolute;
  content: url("../images/follow-inst.png");
  width: 50px;
  height: 50px;
  left: 0;
  top: calc(50% - 25px);
}
/* line 160, ../sass/site-footer.scss */
.site-footer ul .follow-pint {
  padding-left: 70px;
}
/* line 163, ../sass/site-footer.scss */
.site-footer ul .follow-pint:before {
  position: absolute;
  content: url("../images/follow-pint.png");
  width: 50px;
  height: 50px;
  left: 0;
  top: calc(50% - 25px);
}
/* line 174, ../sass/site-footer.scss */
.site-footer footer {
  margin-top: 85px;
}
/* line 177, ../sass/site-footer.scss */
.site-footer footer p {
  margin-top: 0;
  width: 233px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
}
/* line 187, ../sass/site-footer.scss */
.site-footer .get-in-touch li {
  color: #85939f;
  font-family: "Oxygen", "Helvetica", "Verdana", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
}
/* line 194, ../sass/site-footer.scss */
.site-footer .get-in-touch li span {
  color: #ffffff;
}
/* line 199, ../sass/site-footer.scss */
.site-footer .latest-tweets li {
  color: #ffffff;
  font-family: "Oxygen", "Helvetica", "Verdana", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
}
/* line 206, ../sass/site-footer.scss */
.site-footer .latest-tweets li p {
  color: #85939f;
  font-weight: 300;
  font-size: 12px;
}
/* line 215, ../sass/site-footer.scss */
.site-footer .popular-posts li p {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}
/* line 223, ../sass/site-footer.scss */
.site-footer .violet {
  border-top: 15px solid #7827a9;
}
/* line 227, ../sass/site-footer.scss */
.site-footer .blue {
  border-top: 15px solid #0c8fcc;
}
/* line 231, ../sass/site-footer.scss */
.site-footer .red {
  border-top: 15px solid #de1c5c;
}
/* line 235, ../sass/site-footer.scss */
.site-footer .orange {
  border-top: 15px solid #ffae00;
}

/* line 1, ../sass/containers.scss */
.container {
  position: relative;
}
@media (min-width: 576px) {
  /* line 1, ../sass/containers.scss */
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  /* line 1, ../sass/containers.scss */
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  /* line 1, ../sass/containers.scss */
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  /* line 1, ../sass/containers.scss */
  .container {
    width: 1680px;
  }
}

/* line 1, ../sass/jumbotron.scss */
.jumbotron {
  background: none;
  padding-top: 0;
}
/* line 5, ../sass/jumbotron.scss */
.jumbotron .lead {
  margin: 0;
}

/* line 3, ../sass/button.scss */
button {
  background: none;
  cursor: pointer;
  border: 3px solid;
  color: #02baab;
  font-size: 12px;
  font-weight: 700;
  font-family: "Oxygen", "Helvetica", "Verdana", "Arial", sans-serif;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

/* line 5, ../sass/nav-bar.scss */
.nav-bar-comp form {
  width: 210px;
  margin: 8px 0 12px;
  border: 1px solid rgba(133, 147, 159, 0.5);
}
/* line 11, ../sass/nav-bar.scss */
.nav-bar-comp .form-control {
  height: 28px;
  background: none;
  border: none;
  color: #85939f;
  font-family: "Lato", "Arial", "Helvetica", "Verdana", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 35px;
}
/* line 22, ../sass/nav-bar.scss */
.nav-bar-comp .btn {
  background: none;
  height: 28px;
  cursor: pointer;
}
/* line 28, ../sass/nav-bar.scss */
.nav-bar-comp .authorization-btn {
  display: flex;
  align-items: center;
}
@media (min-width: 576px) {
  /* line 28, ../sass/nav-bar.scss */
  .nav-bar-comp .authorization-btn {
    justify-content: flex-end;
  }
}
/* line 36, ../sass/nav-bar.scss */
.nav-bar-comp .authorization-btn button {
  background: none;
  border: none;
  color: #85939f;
  font-size: 11px;
  font-weight: 300;
  line-height: 35px;
  font-family: "Oxygen", "Helvetica", "Verdana", "Arial", sans-serif;
  cursor: pointer;
}
@media (max-width: 568px) {
  /* line 36, ../sass/nav-bar.scss */
  .nav-bar-comp .authorization-btn button {
    margin-bottom: 18px;
  }
}
/* line 50, ../sass/nav-bar.scss */
.nav-bar-comp .authorization-btn button:not(:first-child) {
  margin-left: 35px;
}
/* line 54, ../sass/nav-bar.scss */
.nav-bar-comp .authorization-btn button[name="login"]:before {
  content: url("../images/login.png");
  margin-right: 4px;
}
/* line 59, ../sass/nav-bar.scss */
.nav-bar-comp .authorization-btn button[name="register"]:before {
  content: url("../images/registr.png");
  margin-right: 4px;
}
/* line 66, ../sass/nav-bar.scss */
.nav-bar-comp .navbar {
  padding: 0;
}
/* line 70, ../sass/nav-bar.scss */
.nav-bar-comp .navbar-collapse {
  position: relative;
}
/* line 74, ../sass/nav-bar.scss */
.nav-bar-comp .navbar-nav {
  width: 100%;
  height: 100%;
}
/* line 79, ../sass/nav-bar.scss */
.nav-bar-comp .navbar-nav li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 14.3%;
  transition: 0.1s;
}
/* line 88, ../sass/nav-bar.scss */
.nav-bar-comp .nav-link {
  color: #ffffff !important;
  font-family: "Oxygen", "Helvetica", "Verdana", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 35px;
  text-transform: uppercase;
}
/* line 97, ../sass/nav-bar.scss */
.nav-bar-comp .yellow {
  border-top: 10px solid #ffae00;
}
/* line 99, ../sass/nav-bar.scss */
.nav-bar-comp .yellow:hover {
  background-color: #ffae00;
}
/* line 104, ../sass/nav-bar.scss */
.nav-bar-comp .orange {
  border-top: 10px solid #fc7100;
}
/* line 107, ../sass/nav-bar.scss */
.nav-bar-comp .orange:hover {
  background-color: #fc7100;
}
/* line 112, ../sass/nav-bar.scss */
.nav-bar-comp .crimson {
  border-top: 10px solid #e51c5e;
}
/* line 115, ../sass/nav-bar.scss */
.nav-bar-comp .crimson:hover {
  background-color: #e51c5e;
}
/* line 120, ../sass/nav-bar.scss */
.nav-bar-comp .violet {
  border-top: 10px solid #ae0f8d;
}
/* line 123, ../sass/nav-bar.scss */
.nav-bar-comp .violet:hover {
  background-color: #ae0f8d;
}
/* line 128, ../sass/nav-bar.scss */
.nav-bar-comp .purple {
  border-top: 10px solid #6d0fae;
}
/* line 131, ../sass/nav-bar.scss */
.nav-bar-comp .purple:hover {
  background-color: #6d0fae;
}
/* line 136, ../sass/nav-bar.scss */
.nav-bar-comp .midnight {
  border-top: 10px solid #33227a;
}
/* line 139, ../sass/nav-bar.scss */
.nav-bar-comp .midnight:hover {
  background-color: #33227a;
}
/* line 144, ../sass/nav-bar.scss */
.nav-bar-comp .blue {
  border-top: 10px solid #0c8fcc;
}
/* line 147, ../sass/nav-bar.scss */
.nav-bar-comp .blue:hover {
  background-color: #0c8fcc;
}

/* line 4, ../sass/section-title.scss */
body h2 {
  position: relative;
  margin-top: 100px;
  font-size: 36px;
  font-family: "Oxygen", "Helvetica", "Verdana", "Arial", sans-serif;
  font-weight: 300;
  line-height: 20px;
  padding-bottom: 35px;
}
/* line 13, ../sass/section-title.scss */
body h2:before {
  position: absolute;
  content: "";
  width: 50px;
  height: 5px;
  bottom: 0;
  left: calc(50% - 25px);
}

/* line 5, ../sass/section-description.scss */
body p {
  font-size: 18px;
  font-family: "Oxygen", "Helvetica", "Verdana", "Arial", sans-serif;
  font-weight: 300;
  line-height: 30px;
  margin-top: 51px;
}

/* line 4, ../sass/progress-bar.scss */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* line 10, ../sass/progress-bar.scss */
.set-size {
  font-size: 10em;
}

/* line 14, ../sass/progress-bar.scss */
.charts-container:after {
  clear: both;
  content: "";
  display: table;
}

/* line 20, ../sass/progress-bar.scss */
.pie-wrapper {
  height: 210px;
  width: 210px;
  float: left;
  margin: 15px;
  position: relative;
}

/* line 28, ../sass/progress-bar.scss */
.pie-wrapper:nth-child(3n+1) {
  clear: both;
}

/* line 32, ../sass/progress-bar.scss */
.pie-wrapper .pie {
  height: 100%;
  width: 100%;
  clip: rect(0, 1em, 1em, 0.5em);
  left: 0;
  position: absolute;
  top: 0;
}

/* line 41, ../sass/progress-bar.scss */
.pie-wrapper .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 5px solid #3498db;
  border-radius: 50%;
  clip: rect(0, 0.5em, 1em, 0);
  left: 0;
  position: absolute;
  top: 0;
}

/* line 52, ../sass/progress-bar.scss */
.pie-wrapper .label {
  background-color: #02baab;
  border-radius: 50%;
  bottom: 0.4em;
  color: #ecf0f1;
  cursor: default;
  display: block;
  font-size: 0.25em;
  left: 0.4em;
  line-height: 2.6em;
  position: absolute;
  right: 0.4em;
  text-align: center;
  top: 0.4em;
}

/* line 68, ../sass/progress-bar.scss */
.pie-wrapper .label .smaller {
  color: #bdc3c7;
  font-size: .45em;
  padding-bottom: 20px;
  vertical-align: super;
}

/* line 75, ../sass/progress-bar.scss */
.pie-wrapper .shadow {
  height: 100%;
  width: 100%;
  border: 5px solid rgba(67, 116, 105, 0.42);
  border-radius: 50%;
}

/* line 82, ../sass/progress-bar.scss */
.big-num {
  margin-top: 30px;
  color: #ffffff;
  font-weight: 300;
  line-height: 24px;
  font-size: 48px;
}

/* line 90, ../sass/progress-bar.scss */
.description {
  margin-top: 15px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}

/* line 98, ../sass/progress-bar.scss */
.pie-wrapper .style-2 .label {
  position: relative;
  background: none;
  color: #7f8c8d;
}

/* line 104, ../sass/progress-bar.scss */
.label {
  position: relative;
}
/* line 107, ../sass/progress-bar.scss */
.label img {
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
}
/* line 113, ../sass/progress-bar.scss */
.label.gears:before {
  position: absolute;
  content: url("../images/gears.png");
  width: 60px;
  height: 56px;
  z-index: 1;
  left: calc(50% - 32px);
  top: calc(50% - 34px);
}
/* line 123, ../sass/progress-bar.scss */
.label.phone:before {
  position: absolute;
  content: url("../images/phone.png");
  width: 60px;
  height: 56px;
  z-index: 1;
  left: calc(50% - 30px);
  top: calc(50% - 37px);
}
/* line 133, ../sass/progress-bar.scss */
.label.rocket:before {
  position: absolute;
  content: url("../images/rocket.png");
  width: 60px;
  height: 56px;
  z-index: 1;
  left: calc(50% - 33px);
  top: calc(50% - 34px);
}

/* line 3, ../sass/blog-post.scss */
.blog-post {
  margin-top: 100px;
}
/* line 6, ../sass/blog-post.scss */
.blog-post-item {
  border-bottom: 1px solid #c3c3c3;
  margin-bottom: 50px;
}
/* line 10, ../sass/blog-post.scss */
.blog-post-item h3 {
  width: 287px;
  margin-top: 30px;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  font-family: "Oxygen", "Helvetica", "Verdana", "Arial", sans-serif;
}
/* line 19, ../sass/blog-post.scss */
.blog-post-item a {
  text-decoration: none;
  color: #02baab;
}
/* line 23, ../sass/blog-post.scss */
.blog-post-item a:hover {
  color: #6d0fae;
}
/* line 28, ../sass/blog-post.scss */
.blog-post-item p {
  width: 287px;
  margin-top: 28px;
}
/* line 33, ../sass/blog-post.scss */
.blog-post-item span {
  margin-left: 130px;
}

/* line 3, ../sass/pages-list.scss */
.pages-list li {
  width: 30px;
  height: 30px;
}
/* line 7, ../sass/pages-list.scss */
.pages-list li:not(:last-child) {
  margin-right: 26px;
}
/* line 13, ../sass/pages-list.scss */
.pages-list a {
  color: #02baab;
}
/* line 16, ../sass/pages-list.scss */
.pages-list a:active {
  color: #3b4954;
}
/* line 19, ../sass/pages-list.scss */
.pages-list a:active li {
  color: #eeeeee;
}
