/* line 3, ../sass/section-header.scss */
.page-header {
  height: 300px;
  padding-bottom: 55px;
}
/* line 7, ../sass/section-header.scss */
.page-header h1 {
  color: #ffffff;
  font-family: "Oxygen", "Helvetica", "Verdana", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 36px;
  margin-bottom: 24px;
}
/* line 16, ../sass/section-header.scss */
.page-header p {
  color: #85939f;
  font-family: "Oxygen", "Helvetica", "Verdana", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
/* line 24, ../sass/section-header.scss */
.page-header li {
  color: #85939f;
  margin-right: 34px;
  font-family: "Oxygen", "Helvetica", "Verdana", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  padding-left: 30px;
}

/* line 35, ../sass/section-header.scss */
.user-circle {
  position: relative;
}
/* line 38, ../sass/section-header.scss */
.user-circle:before {
  position: absolute;
  content: '\f2bd';
  font-family: FontAwesome;
  font-size: 18px;
  color: #3b4954;
  left: 0;
}

/* line 48, ../sass/section-header.scss */
.clock-o {
  position: relative;
}
/* line 51, ../sass/section-header.scss */
.clock-o:before {
  position: absolute;
  content: '\f017';
  font-family: FontAwesome;
  font-size: 18px;
  color: #3b4954;
  left: 0;
}

/* line 61, ../sass/section-header.scss */
.quote {
  position: relative;
}
/* line 64, ../sass/section-header.scss */
.quote:before {
  position: absolute;
  content: '\f10d';
  font-family: FontAwesome;
  font-size: 18px;
  color: #3b4954;
  left: 0;
}
