/* line 3, ../sass/site-footer.scss */
.site-footer {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 100px;
  background-color: #1f2a32;
}
/* line 10, ../sass/site-footer.scss */
.site-footer a {
  color: #02baab;
  font-weight: 300;
}
/* line 15, ../sass/site-footer.scss */
.site-footer h3 {
  margin: 73px 0 51px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 300;
  line-height: 35px;
  font-family: "Oxygen", "Helvetica", "Verdana", "Arial", sans-serif;
}
/* line 24, ../sass/site-footer.scss */
.site-footer .follow {
  margin-top: 70px;
}
/* line 27, ../sass/site-footer.scss */
.site-footer .follow li {
  margin-bottom: 40px;
}
/* line 31, ../sass/site-footer.scss */
.site-footer .follow a {
  color: #ffffff;
  font-family: "Oxygen", "Helvetica", "Verdana", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
/* line 42, ../sass/site-footer.scss */
.site-footer ul p {
  margin-top: 0;
}
/* line 46, ../sass/site-footer.scss */
.site-footer ul li {
  position: relative;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 30px;
  width: 210px;
}
/* line 56, ../sass/site-footer.scss */
.site-footer ul .latest-tweets {
  left: 20px;
}
/* line 59, ../sass/site-footer.scss */
.site-footer ul .latest-tweets:before {
  position: absolute;
  content: url("../images/twitter.png");
  width: 15px;
  height: 14px;
  left: -20px;
  top: 0;
}
/* line 69, ../sass/site-footer.scss */
.site-footer ul .flag {
  left: 20px;
}
/* line 72, ../sass/site-footer.scss */
.site-footer ul .flag:before {
  position: absolute;
  content: url("../images/flag.png");
  width: 14px;
  height: 13px;
  left: -20px;
  top: 0;
}
/* line 82, ../sass/site-footer.scss */
.site-footer ul .call {
  left: 20px;
}
/* line 85, ../sass/site-footer.scss */
.site-footer ul .call:before {
  position: absolute;
  content: url("../images/call.png");
  width: 13px;
  height: 14px;
  left: -20px;
  top: 0;
}
/* line 95, ../sass/site-footer.scss */
.site-footer ul .mail {
  left: 20px;
}
/* line 98, ../sass/site-footer.scss */
.site-footer ul .mail:before {
  position: absolute;
  content: url("../images/mail.png");
  width: 13px;
  height: 10px;
  left: -20px;
  top: 0;
}
/* line 108, ../sass/site-footer.scss */
.site-footer ul .follow-fb {
  padding-left: 70px;
}
/* line 111, ../sass/site-footer.scss */
.site-footer ul .follow-fb:before {
  position: absolute;
  content: url("../images/follow-fb.png");
  width: 50px;
  height: 50px;
  left: 0;
  top: calc(50% - 25px);
}
/* line 121, ../sass/site-footer.scss */
.site-footer ul .follow-twitt {
  padding-left: 70px;
}
/* line 124, ../sass/site-footer.scss */
.site-footer ul .follow-twitt:before {
  position: absolute;
  content: url("../images/follow-twitt.png");
  width: 50px;
  height: 50px;
  left: 0;
  top: calc(50% - 25px);
}
/* line 134, ../sass/site-footer.scss */
.site-footer ul .follow-u2b {
  padding-left: 70px;
}
/* line 137, ../sass/site-footer.scss */
.site-footer ul .follow-u2b:before {
  position: absolute;
  content: url("../images/follow-u2b.png");
  width: 50px;
  height: 50px;
  left: 0;
  top: calc(50% - 25px);
}
/* line 147, ../sass/site-footer.scss */
.site-footer ul .follow-inst {
  padding-left: 70px;
}
/* line 150, ../sass/site-footer.scss */
.site-footer ul .follow-inst:before {
  position: absolute;
  content: url("../images/follow-inst.png");
  width: 50px;
  height: 50px;
  left: 0;
  top: calc(50% - 25px);
}
/* line 160, ../sass/site-footer.scss */
.site-footer ul .follow-pint {
  padding-left: 70px;
}
/* line 163, ../sass/site-footer.scss */
.site-footer ul .follow-pint:before {
  position: absolute;
  content: url("../images/follow-pint.png");
  width: 50px;
  height: 50px;
  left: 0;
  top: calc(50% - 25px);
}
/* line 174, ../sass/site-footer.scss */
.site-footer footer {
  margin-top: 85px;
}
/* line 177, ../sass/site-footer.scss */
.site-footer footer p {
  margin-top: 0;
  width: 233px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
}
/* line 187, ../sass/site-footer.scss */
.site-footer .get-in-touch li {
  color: #85939f;
  font-family: "Oxygen", "Helvetica", "Verdana", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
}
/* line 194, ../sass/site-footer.scss */
.site-footer .get-in-touch li span {
  color: #ffffff;
}
/* line 199, ../sass/site-footer.scss */
.site-footer .latest-tweets li {
  color: #ffffff;
  font-family: "Oxygen", "Helvetica", "Verdana", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
}
/* line 206, ../sass/site-footer.scss */
.site-footer .latest-tweets li p {
  color: #85939f;
  font-weight: 300;
  font-size: 12px;
}
/* line 215, ../sass/site-footer.scss */
.site-footer .popular-posts li p {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}
/* line 223, ../sass/site-footer.scss */
.site-footer .violet {
  border-top: 15px solid #7827a9;
}
/* line 227, ../sass/site-footer.scss */
.site-footer .blue {
  border-top: 15px solid #0c8fcc;
}
/* line 231, ../sass/site-footer.scss */
.site-footer .red {
  border-top: 15px solid #de1c5c;
}
/* line 235, ../sass/site-footer.scss */
.site-footer .orange {
  border-top: 15px solid #ffae00;
}
