/* line 1, ../sass/site-footer.scss */
.site-footer {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 100px;
  background-color: #1f2a32;
}
/* line 8, ../sass/site-footer.scss */
.site-footer h3 {
  margin: 73px 0 51px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 300;
  line-height: 35px;
}
/* line 16, ../sass/site-footer.scss */
.site-footer .follow {
  margin-top: 70px;
}
/* line 19, ../sass/site-footer.scss */
.site-footer .follow li {
  margin-bottom: 40px;
}
/* line 26, ../sass/site-footer.scss */
.site-footer ul p {
  margin-top: 0;
}
/* line 30, ../sass/site-footer.scss */
.site-footer ul li {
  position: relative;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 30px;
  width: 210px;
}
/* line 40, ../sass/site-footer.scss */
.site-footer ul .latest-tweets {
  left: 20px;
}
/* line 43, ../sass/site-footer.scss */
.site-footer ul .latest-tweets:before {
  position: absolute;
  content: url("../images/twitter.png");
  width: 15px;
  height: 14px;
  left: -20px;
  top: 0;
}
/* line 53, ../sass/site-footer.scss */
.site-footer ul .flag {
  left: 20px;
}
/* line 56, ../sass/site-footer.scss */
.site-footer ul .flag:before {
  position: absolute;
  content: url("../images/flag.png");
  width: 14px;
  height: 13px;
  left: -20px;
  top: 0;
}
/* line 66, ../sass/site-footer.scss */
.site-footer ul .call {
  left: 20px;
}
/* line 69, ../sass/site-footer.scss */
.site-footer ul .call:before {
  position: absolute;
  content: url("../images/call.png");
  width: 13px;
  height: 14px;
  left: -20px;
  top: 0;
}
/* line 79, ../sass/site-footer.scss */
.site-footer ul .mail {
  left: 20px;
}
/* line 82, ../sass/site-footer.scss */
.site-footer ul .mail:before {
  position: absolute;
  content: url("../images/mail.png");
  width: 13px;
  height: 10px;
  left: -20px;
  top: 0;
}
/* line 92, ../sass/site-footer.scss */
.site-footer ul .follow-fb {
  padding-left: 70px;
}
/* line 95, ../sass/site-footer.scss */
.site-footer ul .follow-fb:before {
  position: absolute;
  content: url("../images/follow-fb.png");
  width: 50px;
  height: 50px;
  left: 0;
  top: calc(50% - 25px);
}
/* line 105, ../sass/site-footer.scss */
.site-footer ul .follow-twitt {
  padding-left: 70px;
}
/* line 108, ../sass/site-footer.scss */
.site-footer ul .follow-twitt:before {
  position: absolute;
  content: url("../images/follow-twitt.png");
  width: 50px;
  height: 50px;
  left: 0;
  top: calc(50% - 25px);
}
/* line 118, ../sass/site-footer.scss */
.site-footer ul .follow-u2b {
  padding-left: 70px;
}
/* line 121, ../sass/site-footer.scss */
.site-footer ul .follow-u2b:before {
  position: absolute;
  content: url("../images/follow-u2b.png");
  width: 50px;
  height: 50px;
  left: 0;
  top: calc(50% - 25px);
}
/* line 131, ../sass/site-footer.scss */
.site-footer ul .follow-inst {
  padding-left: 70px;
}
/* line 134, ../sass/site-footer.scss */
.site-footer ul .follow-inst:before {
  position: absolute;
  content: url("../images/follow-inst.png");
  width: 50px;
  height: 50px;
  left: 0;
  top: calc(50% - 25px);
}
/* line 144, ../sass/site-footer.scss */
.site-footer ul .follow-pint {
  padding-left: 70px;
}
/* line 147, ../sass/site-footer.scss */
.site-footer ul .follow-pint:before {
  position: absolute;
  content: url("../images/follow-pint.png");
  width: 50px;
  height: 50px;
  left: 0;
  top: calc(50% - 25px);
}
/* line 158, ../sass/site-footer.scss */
.site-footer footer {
  margin-top: 85px;
}
/* line 161, ../sass/site-footer.scss */
.site-footer footer p {
  margin-top: 0;
  width: 233px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
}
