/* line 1, ../sass/welcome-section.scss */
.welcome-section {
  position: relative;
  width: 100%;
  height: 950px;
}
/* line 6, ../sass/welcome-section.scss */
.welcome-section img {
  width: 100%;
  height: 950px;
}
/* line 11, ../sass/welcome-section.scss */
.welcome-section .carousel {
  position: absolute;
  width: 100%;
}
/* line 15, ../sass/welcome-section.scss */
.welcome-section .carousel-indicators {
  bottom: 50px;
}
/* line 18, ../sass/welcome-section.scss */
.welcome-section .carousel-indicators .active {
  background-color: #02baab;
}
