/* line 3, ../sass/works.scss */
.works {
  position: relative;
  width: 100%;
  background-color: #0c8fcc;
  padding-bottom: 100px;
}
/* line 11, ../sass/works.scss */
.works header h2 {
  color: #ffffff;
}
/* line 14, ../sass/works.scss */
.works header h2:before {
  content: "";
  background-color: #ffffff;
}
/* line 20, ../sass/works.scss */
.works header p {
  color: #ffffff;
}
