/* line 1, ../sass/works.scss */
.works {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #0c8fcc;
}
/* line 9, ../sass/works.scss */
.works header h2 {
  color: #ffffff;
}
/* line 12, ../sass/works.scss */
.works header h2:before {
  content: "";
  background-color: #ffffff;
}
/* line 18, ../sass/works.scss */
.works header p {
  color: #ffffff;
}
/* line 23, ../sass/works.scss */
.works ul {
  margin-top: 46px;
}
/* line 26, ../sass/works.scss */
.works ul li {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  width: 290px;
  height: 290px;
}
/* line 36, ../sass/works.scss */
.works ul .inner-links {
  position: absolute;
  width: 40px;
  height: 140px;
  left: calc(50% - 20px);
  top: 75px;
  display: none;
  transition: 4s;
}
/* line 45, ../sass/works.scss */
.works ul .inner-links img {
  margin-bottom: 5px;
}
/* line 50, ../sass/works.scss */
.works ul .item-list {
  position: relative;
  box-sizing: border-box;
}
/* line 57, ../sass/works.scss */
.works ul .item-list:hover p {
  opacity: 0;
  transition: 0.5s;
  cursor: default;
}
/* line 64, ../sass/works.scss */
.works ul .item-list:hover .inner-links {
  display: block;
}
/* line 69, ../sass/works.scss */
.works ul .list-inner {
  padding: 0 20px;
  position: absolute;
  bottom: 0;
  width: 290px;
}
/* line 75, ../sass/works.scss */
.works ul .list-inner p {
  margin-top: 0;
}
