/* line 3, ../sass/works.scss */
.works {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #0c8fcc;
}
/* line 11, ../sass/works.scss */
.works header h2 {
  color: #ffffff;
}
/* line 14, ../sass/works.scss */
.works header h2:before {
  content: "";
  background-color: #ffffff;
}
/* line 20, ../sass/works.scss */
.works header p {
  color: #ffffff;
}
/* line 25, ../sass/works.scss */
.works ul {
  margin-top: 46px;
}
/* line 28, ../sass/works.scss */
.works ul li {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  width: 290px;
  height: 290px;
}
/* line 38, ../sass/works.scss */
.works ul .inner-links {
  position: absolute;
  width: 40px;
  height: 140px;
  left: calc(50% - 20px);
  top: 75px;
  display: none;
}
/* line 46, ../sass/works.scss */
.works ul .inner-links img {
  margin-bottom: 5px;
}
/* line 51, ../sass/works.scss */
.works ul .item-list {
  position: relative;
  box-sizing: border-box;
}
/* line 58, ../sass/works.scss */
.works ul .item-list:hover p {
  opacity: 0;
  transition: 0.5s;
  cursor: default;
}
/* line 65, ../sass/works.scss */
.works ul .item-list:hover .inner-links {
  display: block;
}
/* line 70, ../sass/works.scss */
.works ul .list-inner {
  padding: 0 20px;
  position: absolute;
  bottom: 0;
  width: 290px;
}
/* line 76, ../sass/works.scss */
.works ul .list-inner img {
  position: absolute;
  right: 20px;
  top: 4px;
}
/* line 82, ../sass/works.scss */
.works ul .list-inner span {
  position: absolute;
  right: 20px;
}
/* line 88, ../sass/works.scss */
.works ul .list-inner p {
  margin-top: 0;
}
/* line 91, ../sass/works.scss */
.works ul .list-inner p:first-child {
  color: #ffffff;
  font-family: "Oxygen", "Helvetica", "Verdana", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
/* line 99, ../sass/works.scss */
.works ul .list-inner p:last-child {
  color: #02baab;
  font-family: "Oxygen", "Helvetica", "Verdana", "Arial", sans-serif;
  font-size: 11px;
  font-weight: 300;
  line-height: 20px;
}
