.comments-section {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 100px;
  padding: 185px 0;
  background-color: #02554a;

  blockquote {
    position: relative;
    width: 100%;

    &:before {
      position: absolute;
      content: url("../images/quotes.png");
      width: 45px;
      height: 37px;
      top: -80px;
      left: calc(50% - 22.5px);
    }

    p {
      width: 614px;
      margin-left: calc(50% - 307px);
      margin-top: 0;
      color: #ffffff;
      font-size: 24px;
      font-weight: 300;
      line-height: 30px;
    }

    footer p {
      margin-top: 40px;
      color: #02baab;
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      text-transform: uppercase;
    }
  }
}