@import "../variables";

.portfolio-block {
  position: relative;
  width: 100%;
  padding-bottom: 102px;

  p {
    font-family: $Oxygen-Font;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
  }

  button {
    text-decoration: none;
    cursor: pointer;
    color: #02baab;
  }
}